body {
    font-family: "proxima_nova", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #000000;
    }

.fe-nav-bar > .contenedor {
    padding-top: 20px;
    padding-bottom: 3px;
    margin: 0;
    background-image: url('/images/fondo-barra.png');
    background-position: 0% 0%;
    background-repeat: no-repeat;
    display: flex;
}

.navbar > .contenedor .navbar-brand span {
    background-image: url("/images/logo-ferrari.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0px 0 0 0;
    text-indent: 999px;
    width: 210px;
    height: 40px;
    background-size: 210px 40px;
}
.navbar-nav > li {
    float: left;
}

.nav > li {
position:relative;
display: block;
}

.fe-nav-bar .navbar-nav > li > a {
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px 20px  20px;
    font-size: 14px;
    font-family: "proxima_nova", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 70px;
    color: white;
    letter-spacing: .5px;
    }
.fe-nav-bar .navbar-nav > li > a:hover:not(.Banderalink), .fe-nav-bar .navbar-nav > .current > a:not(.Banderalink) {
    border-bottom: 2px solid #f20000;
    margin-bottom: -2px;
}


.fe-nav-bar .navbar-nav > li > a {
    line-height: 40px;
}

.Bandera {
    display: inline;
    width: 23px;
    height: 16px;
    margin-top: 12px;
    text-indent: 99px;
}
a {
    color: white;
    text-decoration: none;
    cursor: auto;
}